<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="consultation">
      <ion-icon name="keypad"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="results">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Resultados</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="presentActionSheet()">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Opciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
